.movies {
  max-width: 1280px;
  margin: 0 auto;
  padding: 70px 70px 80px;
  box-sizing: border-box;
}

.movies__show-more {
  width: 100%;
  background: #2F2F2F;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  height: 36px;
  border-radius: 6px;
  transition: all .5s ease;
  cursor: pointer;
}

.movies__show-more:hover {
  opacity: .7;
}

@media screen and (max-width: 850px) {
  .movies {
    padding: 70px 30px 100px;
  }
}

@media screen and (max-width: 420px) {
  .movies {
    padding: 78px 10px 89px;
  }
}