.promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 493px;
  box-sizing: border-box;
  align-items: center;
  background: #272727;
  border-radius: 10px;
  padding-bottom: 30px;
  max-width: 94%;
  margin: 0 auto;
}

.promo__title {
  margin: 0;
  max-width: 60%;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  white-space: pre-line;
  font-weight: 400;
  letter-spacing: -0.04em;
  margin-top: auto;
}

@media screen and (max-width: 850px) {
  .promo {
    max-width: 95%;
    min-height: 834px;
    padding-top: 34px;
    padding-bottom: 30px;
  }

  .promo__title {
    font-size: 40px;
    max-width: 80%;
    line-height: 52px;
  }
}

@media screen and (max-width: 480px) {
  .promo {
    max-width: 91%;
    min-height: 586px;
    padding-bottom: 17px;
    padding-top: 10px;
  }

  .promo__title {
    font-size: 29px;
    line-height: 37px;
    max-width: 95%;
  }
}