.landing-section {
  padding: 110px 70px 0 70px;
}

.landing-section_type_tech {
  background: #272727;
  padding-top: 100px;
}

.landing-section__title {
  border-bottom: solid 1px #DADADA;
  padding-bottom: 23px;
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 850px) {
  .landing-section {
    padding: 90px 50px 0 50px;
  }
  .landing-section_type_tech {
    padding-top: 90px;
  }
}

@media screen and (max-width: 480px) {
  .landing-section {
    padding: 70px 18px 0 18px;
  }

  .landing-section_type_tech {
    padding-top: 50px;
  }

  .landing-section_type_tech .landing-section__title {
    border-color: #000000;
  }

  .landing-section__title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }
}