.movie {
  width: 100%;
}

.movie__cover {
  width: 100%;
  height: 151px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 7px;
}

.movie__info {
  display: flex;
  margin-bottom: 13px;
  justify-content: space-between;
  width: 100%;
  padding-right: 2px;
  box-sizing: border-box;
}

.movie__title {
  width: calc(100% - 24px);
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  min-height: 32px;
  padding-top: 4px;
  padding-right: 20px;
}

.movie__btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #313131;
  border: none;
  outline: none;
  transition: all .5s ease;
  cursor: pointer;
}

.movie__btn:hover .movie__like {
  fill: #EE3465;
}

.movie__like {
  transition: all .5s ease;
  fill: white;
}

.movie__like_active {
  fill: #EE3465;
}
.movie_type_saved .movie__btn {
  opacity: 0;
}
.movie_type_saved:hover .movie__btn {
  opacity: 1;
}

.movie__delete {
  fill: white;
  transition: all .5s ease;
}

.movie__delete:hover {
  opacity: .7;
}

.movie__duration {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #8B8B8B;
  margin: 0;
  padding-top: 6px;
  border-top: solid 1px #424242;;
}

@media screen and (max-width: 850px) {
  .movie__cover {
    height: 190px;
  }
}

@media screen and (max-width: 480px) {
  .movie__cover {
    height: 168px;
    margin-bottom: 7px;
  }

  .movie__info {
    margin-bottom: 20px;
  }

  .movie__title {
    font-size: 12px;
    line-height: 15px;
    min-height: 24px;
  }
}